.header {
    color: black;
    font-family: monospace;
    vertical-align: top;
}

.logo {
    align-items: left;
    align-content: left;
    align-self: left;
    font-size: 30px;
    color: red;
    
}

.pages {
    align-items: right;
    align-content: right;
    text-decoration: none;
    color: white;
}
