.header {
    color: black;
    font-family: monospace;
    vertical-align: top;
    display: flex;
}

.logo {
    align-items: left;
    align-content: left;
    align-self: left;
    font-size: 30px;
    color: red;
    margin: 30px;
    
}

a {
    text-decoration: none;
    color: black;
    align-items: right;
    align-content: right;
}
}


.pages {
    align-self: right;
    float: right;
}
